* {
	text-align: center;
}

h1 {
	color: #ceb16d;
	margin-top: 150px;
}
h2 {
	color: #ceb16d;
}
.photo1 {
	margin-top: 50px;
	margin-right: 800px;
}
body {
    background-color: black;
}
.photo2 {
	margin-top: -200px;
	margin-left: 750px;
}